body {
    font-family: monospace, Courier, 'Courier New';
    background-color: #F3E55B;
}

/* Tables */

th,
    td {
    border: 1px solid black;
    padding: 10px;
}

thead {
    background-color: #7efe42;
}

tbody {
    text-align: justify;
    font-size: 19px;
}

table {
    background-color: rgb(6, 216, 216);
    width: 1500px;
    margin: 0 auto;
}

.html-table,
    .css-table {
    padding: 25px;
    margin: 10px 0;
}

/* headings */

h1,
    h2 {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

h1 {
    font-size: 25px;
    margin-top: 50px;
}

h2 {
    font-weight: 600;
    font-size: 21px;
    }

    /* background color of td elements */

.milky {
        background-color: #f1fcb9;
    }

.orange {
    background-color: rgb(240, 142, 37);
}

.cavit-font {
    font-family: 'kalam', 'Caveat', monospace;
}

th {
    font-size: 19px;
}
